node_modules

# Not should be pushed
routes/bg-test

svelte.config.js

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# zip files
*.zip
jbsite3.code-workspace
env.ps1
