---
title: Plagiarism. It won't end now, and it won't end anytime soon.
published: 03/03/2025 13:00
description: Because why not make an original thing when you can rip off someone else's?
tags: plagiarism, indie-web, content
---

